<div class="app-body register">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card mx-6">
            <div class="card-body p-4">
              <form [formGroup]="userForm">
                <h1>Add User</h1>
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Username" formControlName="name" required />
                  <mat-error *ngIf="userForm.hasError('required','name')">
                    name is required
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field class="full-width">
                  <input matInput type="text" formControlName="email" placeholder="Email" required />
                  <mat-error *ngIf="userForm.hasError('required','email')">
                    email is required
                  </mat-error>
                  <mat-error *ngIf="userForm.hasError('email','email')">
                    email is invalid
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field class="full-width">
                  <input matInput type="password" formControlName="password" placeholder="Password" required />
                  <mat-error *ngIf="userForm.hasError('required','password')">
                    password is required
                  </mat-error>
                </mat-form-field>
              </form>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Societé</mat-label>
                <mat-select [(ngModel)]="pme" name="selecrPme">
                  <mat-option *ngFor="let t of table ,let i=index;" value="{{t._id}}">
                    {{t.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="form-group row">
                <button type="button" (click)="addUser()" class="btn btn-block btn-success">
                  Add
                </button>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>