<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Company</strong>
      <small>Form</small>
    </div>
    <form class="card-body" style="margin-left: 20%;" [formGroup]="societeform">
      <div class="row">

          <mat-form-field>
            <input matInput type="text" formControlName="name" id="inputError2" placeholder="Enter your company name">
          </mat-form-field><br>
     
       
          <mat-form-field style="margin-left: 20%;">
            <input matInput type="email" formControlName="email" placeholder="Enter your company email">
          </mat-form-field>
    
      </div>
      <div class="row">
     
        <mat-form-field>
          <input matInput type="text" style="width: auto;" formControlName="description" placeholder="Enter your company Description">
        </mat-form-field>
      
     
        <mat-form-field style="margin-left: 20%;">
          <input matInput type="text" formControlName="adress" placeholder="Enter street Adresse">
        </mat-form-field>
      </div>
      <div class="row">

        <mat-form-field>
          <input matInput type="number" formControlName="telephone" placeholder="Enter your Télephone number">
        </mat-form-field>
     
          <mat-form-field style="margin-left: 20%;">
            <input matInput type="number" formControlName="fax" placeholder="Enter your fax number">
          </mat-form-field>
        
      </div>
      <div class="row">
    
          <mat-form-field>
            <input matInput type="text" formControlName="siege" placeholder="Enter your siege">
          </mat-form-field>

          <mat-form-field style="margin-left: 20%;">
            <mat-select formControlName="activity" name="selecrPme">
              <mat-option *ngFor="let t of activitytable ,let i=index;" value="{{t._id}}">
                {{t.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
      </div>
      <button type="button" class="btn btn-primary px-4" (click)="Addsociete()">ADD</button>
    </form>
  </div>
</div>
