<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Combined All Table
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="margin-left: 50px;">
              <mat-label
                ><i class="fa fa-search" aria-hidden="true"></i>
                Search...</mat-label
              >
              <input matInput type="text" [(ngModel)]="Search" />
            </mat-form-field>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Select a Pme</mat-label>
              <select
                matNativeControl
                (change)="onChangePme($event)"
                name="select1"
              >
                <option value=""></option>
                <option *ngFor="let pme of pmeTable ;" value="{{pme._id}}">
                  {{pme.name}}
                </option>
              </select>
            </mat-form-field>
          </div>
        </div>
        <br />
        <!-- <select
              id="select1"
              name="select1"
              class="form-control"
              (change)="onChangePme($event)"
            >
              <option value="">Select a Pme</option>
              <option *ngFor="let pme of pmeTable ;" value="{{pme._id}}"
                >{{pme.name}}</option
              >
            </select> -->
        <table class="table table-bordered table-responsive-sm table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>

              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor=" let tab of table | pipesearch: Search; let i=index">
            <tr>
              <td>{{tab.name}}</td>
              <td>{{tab.email}}</td>
              <td>
                <button
                  class="badge badge-success"
                  routerLink="../updateuser/{{tab._id}}"
                >
                  Update</button
                ><button
                  (click)="openDialog(content)"
                  class="badge badge-danger"
                >
                  delete
                </button>
              </td>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title text-danger">Delete User</h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="closeModal()"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete {{tab.name}}</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    (click)="acceptDelete(i, tab._id)"
                  >
                    Delete
                  </button>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>
        <nav>
          <mat-paginator
            [length]="totalUsers"
            [pageSize]="pageSizeU"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onChange($event)"
          ></mat-paginator>
        </nav>
      </div>
    </div>
  </div>
</div>
