<div class="app-body register">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]=" updateUserForm">
                <h1>Update User</h1>

                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="name"
                      placeholder="Username"
                      autocomplete="username"
                    />
                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="email"
                      placeholder="Email"
                      autocomplete="email"
                    />
                  </mat-form-field>
                </div>

                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="password"
                      matInput
                      formControlName="password"
                      placeholder="Password"
                      [type]="hide ? 'password' : 'text'"
                      autocomplete="new-password"
                    />
                    <mat-icon matSuffix (click)="hide = !hide"
                      >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon
                    >
                  </mat-form-field>
                </div>
                <mat-form-field class="full-width">
                  <mat-label>Select Pme</mat-label>
                  <mat-select name="select1" formControlName="pme">
                    <mat-option
                      *ngFor="let t of table ,let i=index;"
                      value="{{t._id}}"
                      >{{t.name}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <button
              type="button"
              class="btn btn-block btn-success"
              (click)=" updateUserById()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
