<div class="app-body register ">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]=" updateUserForm">
                <h1>Update User</h1>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
          
                  </div>
                  <mat-form-field>
                    <input type="text" matInput formControlName="name" placeholder="Username" autocomplete="username">
                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
             
                  </div>
                  <mat-form-field>
                    <input type="text" matInput formControlName="email" placeholder="Email" autocomplete="email">
                  </mat-form-field>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  
                  </div>
                  <!-- <mat-form-field>
                    <input type="password" matInput formControlName="password" placeholder="Password"  [type]="hide ? 'password' : 'text'" 
                      autocomplete="new-password">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field> -->
                </div>
                <label class="col-md-3 col-form-label">Societé</label>
                <select id="select1" name="select1" class="form-control" formControlName="pme">
                  <option *ngFor="let t of table ,let i=index;" value="{{t._id}}">{{t.name}}</option>
                </select>
              </form>
            </div>
            <button type="button" class="btn btn-block btn-success" (click)=" updateUserById()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
