<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Societé Table
      </div>
      <div class="card-body">
        <mat-form-field appearance="outline" style="margin-left: 50px;">
          <mat-label
            ><i class="fa fa-search" aria-hidden="true"></i>
            Search...</mat-label
          >
          <input matInput type="text" [(ngModel)]="Search" />
        </mat-form-field>
        <table class="table table-bordered table-responsive-sm table-hover">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Date registered</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody *ngFor=" let tab of table | pipesearch: Search; let i=index">
            <tr>
              <td class="text-center">{{tab.name}}</td>
              <td class="text-center">{{tab.email}}</td>
              <td class="text-center">{{tab.createdAt | date :'medium'}}</td>
              <td class="text-center">
                <span
                  style="cursor: pointer;"
                  routerLink="../updatesociete/{{tab._id}}"
                  class="mr-3"
                  ><mat-icon>mode_edit</mat-icon></span
                >
                <span
                  style="cursor: pointer;"
                  *ngIf="superAdminAccess"
                  (click)="openDialog(content)"
                  ><mat-icon>delete_sweep</mat-icon></span
                >
              </td>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title text-danger">Delete Pme</h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="closeModal()"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete {{tab.name}}</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    (click)="acceptDelete(i, tab._id)"
                  >
                    Delete
                  </button>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>
        <nav>
          <mat-paginator
            [length]="totalPme"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onChange($event)"
          ></mat-paginator>
        </nav>
      </div>
    </div>
  </div>
</div>
