<div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Categorie</strong> Groups
      </div>
      <div class="card-body">
        <form [formGroup]="updatecategorieForm" method="post" class="form-horizontal">
          <!-- <mat-field-form> -->
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <input matInput type="text" id="input2-group2" formControlName="name" name="input2-group2" placeholder="Categorie Name">
                <span class="input-group-append">
                  <button type="button" (click)="Updatecategorie()" class="btn btn-primary">Add Categorie</button>
                </span>
              </div>
            </div>
          </div>
        <!-- </mat-field-form> -->
        </form>
      </div>
    </div>
  </div>