<div class="col-sm-12" *ngIf="fournisseur">
  <div class="card">
    <div class="card-header">
      <h2>Company</h2>
      <!-- <small>Form</small> -->
    </div>
    <form class="card-body">
      <div class="row">
        <div class="form-group col-sm-6">
          <label><strong>Company: </strong></label>
          <span>{{fournisseur.name}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label><strong>Email Company: </strong></label>
          <span>{{fournisseur.email}}</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label><strong>ville: </strong></label>
          <span>{{fournisseur.ville}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label><strong>Adresse: </strong></label>
          <span>{{fournisseur.addresse}}</span>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="form-group col-sm-6">
          <label><strong>Code Postal: </strong></label>
          <span>{{fournisseur.codepostal}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label><strong>Pays: </strong></label>
          <span>{{fournisseur.pays}}</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label><strong>Cell Phone: </strong></label>
          <span>{{fournisseur.telportable}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label><strong>Land Line: </strong></label>
          <span>{{fournisseur.fixe}}</span>
        </div>
      </div>
    </form>
  </div>
</div>
