<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Company</strong>
      <!-- <small>Form</small> -->
    </div>
    <form class="card-body">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Company: </label>
          <span>{{fournisseur.name}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label>Email Company</label>
          <span>{{fournisseur.email}}</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>ville: </label>
          <span>{{fournisseur.ville}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label>Adresse: </label>
          <span>{{fournisseur.addresse}}</span>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Code Postal: </label>
          <span>{{fournisseur.codepostal}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label>Pays: </label>
          <span>{{fournisseur.pays}}</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Cell Phone: </label>
          <span>{{fournisseur.telportable}}</span>
        </div>
        <div class="form-group col-sm-6">
          <label>Land Line: </label>
          <span>{{fournisseur.fixe}}</span>
        </div>
      </div>
    </form>
  </div>
</div>
